name: Version Update

on:
  workflow_dispatch:

jobs:
  increment_version:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Increment Version and Update Project File
      shell: pwsh
      run: |
        # Find the first .csproj file
        $projectFile = (Get-ChildItem -Recurse -Filter "*.csproj" | Select-Object -First 1).FullName

        # Read the project file content
        $projectContent = Get-Content $projectFile -Raw

        # Extract the current version
        $versionPattern = '<Version>(.*?)</Version>'
        $currentVersion = [regex]::Match($projectContent, $versionPattern).Groups[1].Value

        # Split current version into components
        $versionParts = $currentVersion.Split('.')
        $major = [int]$versionParts[0]
        $minor = [int]$versionParts[1]
        $build = [int]$versionParts[2] + 1  # Increment the build number
        $revision = [int]$versionParts[3]

        # Construct new version
        $newVersion = "$major.$minor.$build.$revision"

        # Update the version in the project file
        $updatedContent = $projectContent -replace $versionPattern, "<Version>$newVersion</Version>"

        # Write the updated content back to the project file
        $updatedContent | Set-Content -Path $projectFile -Encoding utf8

        # Update updater.json with the new version
        $json = @{
          version = $newVersion
          url = "https://github.com/MrPcGamerYT/Optimizer/releases/latest/download/OptimizerSetup.exe"
        }
        $json | ConvertTo-Json -Compress | Set-Content update.json -Encoding UTF8

        Write-Host "Updated version to $newVersion"

    - name: Commit changes
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add $projectFile update.json
        git commit -m "Increment version to $newVersion"
        git push
